.mob__sidebar__wrap {
	position: fixed;
	z-index: 999999;
	transform: translateX(-117%);
	transition: 0.3s transform ease-in;
	top: 0;
	left: 0;
	height: 100%;
	display: none;
	box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.2);
}

.mob__sidebar__logo__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left__sidebar__mob__main {
	background: #ffffff;
	padding: 20px;
	border-radius: 8px;
	min-height: 100%;
	min-width: 200px;
}

.left__sidebar__main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90vh;
}

.left__sidebar__logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.left__sidebar__logo img {
	height: 40px;
	width: 40px;
}

.left__sidebar__title {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 29px;
	color: #000000;
	margin-left: 10px;
}

.left__sidebar__menu {
	flex: 1;
	margin-top: 25px;
}

.left__sidebar__menu__wrap {
	display: flex;
	align-items: center;
	padding: 15px 8px;
	color: rgb(173, 170, 170);
	cursor: pointer;
}

.left__sidebar__menu__title {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	margin-left: 10px;
}

.left__sidebar__help {
	border: 1px solid rgb(173, 170, 170);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0px;
}

.left__sidebar__help__title {
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
}

.left__sidebar__help__description {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 15px;
	color: #000000;
	text-align: center;
	width: 100px;
	margin: 15px 0px;
}

.left__sidebar__get__help {
	background: #000000;
	border-radius: 8px;
	padding: 5px 25px;
}

.left__sidebar__get__help__title {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
}

.left__sidebar__menu__wrap.active_menu {
	background: #fff1f3;
	color: #963636;
	border-radius: 10px;
}

.mob__sidebar__wrap.active {
	transform: translateX(-15px);
}

@media (max-width: 1024px) {
	.mob__sidebar__wrap {
		display: block;
	}
}
