body {
	margin: 0;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: aliceblue;
	position: relative;
}

@font-face {
	font-family: "Inter";
	src: local("Inter"),
		url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}
code {
	font-family: "Inter", sans-serif;
}

p {
	margin: 0;
}
