.search_wrap {
	position: relative;
}

.search_wrap input {
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	border: none;
	border-radius: 8px;
	background: aliceblue;
	color: #000000;
	padding: 10px 38px;
	width: 70%;
	max-width: 400px;
	height: 20px;
}

.search_wrap input:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.search_wrap input::placeholder {
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	color: #000000;
}

.search__icon {
	position: absolute;
	top: 10px;
	left: 16px;
	color: #cccccc;
}
